.container{
    height: 500px;
    width: 500px;
    background-color: green;
    border: solid red;
    display: flex;
}

.box{
    height: 150px;
    width: 150px;
    margin: 20px;
    border: 2px solid orange;
    background-color: aqua;

    /* transition: 2s; 
    transition-property: background-color;
    transition-delay: 2s; */

    /* transition: background-color 1s ease 3s ; */
    /* transition: all 5s ease 1s; */
    /* transition: transform 3s cubic-bezier(0.73, 0.33, 1, 1); */
     transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(0.73, 0.33, 1, 1);
    transition-delay: 1s; 

}











/* for transition */
.box:hover{
    background-color: brown;
    /* transform: rotate(45deg); */

    transform: translateX(50px) rotate(43deg) scale(2);

}